In [1]:
%load_ext autoreload
%autoreload 2
from GDS import *

In [8]:
GTEx_sample_attr = pd.read_csv("../dat/GTEx_v7_Annotations_SampleAttributesDS.txt", sep="\t")

In [11]:
print(GTEx_sample_attr.shape)
GTEx_sample_attr.head(2)

(15598, 63)

,SAMPID,SMATSSCR,SMCENTER,SMPTHNTS,SMRIN,SMTS,SMTSD,SMUBRID,SMTSISCH,SMTSPAX,...,SME1ANTI,SMSPLTRD,SMBSMMRT,SME1SNSE,SME1PCTS,SMRRNART,SME1MPRT,SMNUM5CD,SMDPMPRT,SME2PCTS
0,GTEX-1117F-0003-SM-58Q7G,NaN,B1,NaN,NaN,Blood,Whole Blood,13756,1188.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GTEX-1117F-0003-SM-5DWSB,NaN,B1,NaN,NaN,Blood,Whole Blood,13756,1188.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
#sorted(list(set(GTEx_sample_attr["SMTS"])))

In [34]:
#set(GTEx_sample_attr["SMTSD"])

In [52]:
GTEx_Exon_TissueTPM = pd.read_csv("../dat/GTEx_v7_RNASeQCv1.1.8_exon_TissueExp.csv")
GTEx_Gene_TissueTPM = pd.read_csv("../dat/GTEx_v7_RNASeQCv1.1.8_gene_TissueExp.csv", index_col="Name")

In [53]:
GTEx_Gene_TissueTPM.head(2)

,Description,Adipose Tissue,Adrenal Gland,Bladder,Blood,Blood Vessel,Bone Marrow,Brain,Breast,Cervix Uteri,...,Prostate,Salivary Gland,Skin,Small Intestine,Spleen,Stomach,Testis,Thyroid,Uterus,Vagina
Name,,,,,,,,,,,,,,,,,,,,,
ENSG00000223972.4,DDX11L1,0.066298,0.082417,0.052945,0.136136,0.056196,NaN,0.093379,0.071472,0.050982,...,0.068184,0.050812,0.060956,0.069531,0.081218,0.078434,0.996958,0.073757,0.049904,0.045139
ENSG00000227232.4,WASH7P,2.477027,2.249229,2.807481,2.277503,2.583532,NaN,2.290754,2.644530,2.877115,...,3.137943,2.460869,2.651792,2.635849,2.983330,2.344291,2.909258,2.990644,3.130558,2.831900

In [42]:
GTEx_Gene_TissueTPM.loc["DDX11L1", :].values[1:]

array([0.06629752439044563, 0.08241660294959438, 0.05294520601734158,
       0.13613582294909796, 0.05619576660199326, nan, 0.09337896276338598,
       0.07147193159515965, 0.050981534666990805, 0.06781204179037616,
       0.056645245557168565, 0.04195479007676034, 0.09139531760529944,
       0.0714733663944885, 0.07965546589363831, 0.07823433717223807,
       0.07895112436787302, 0.06599336562835212, 0.045685062499108524,
       0.03340745021030953, 0.05266813178934096, 0.06818435483993321,
       0.050811901491732994, 0.06095587760072624, 0.06953099551472057,
       0.08121800133134538, 0.07843407415846079, 0.9969580718696562,
       0.07375682815781899, 0.04990391502101255, 0.04513850358820942],
      dtype=object)

In [55]:
writer = csv.writer(open("GTEx_v7_RNASeQCv1.1.8_exon_Tissue.RelExp.csv", "wt"))
for i, row in GTEx_Exon_TissueTPM.iterrows():
    gene = row["Name"].split("_")[0]
    gene_exps = GTEx_Gene_TissueTPM.loc[gene, :].values[1:]
    row_val = row.values[1:-1]
    #print(gene, row_val, gene_exps)
    rel_exp = row_val / gene_exps
    #print(rel_exp)
    new_row = [row[0]] + list(rel_exp) + [row[-1]]
    writer.writerow(new_row)

/Users/jiayao/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in double_scalars
  import sys
/Users/jiayao/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: RuntimeWarning: invalid value encountered in true_divide
  import sys